-i https://pypi.org/simple
asgiref==3.12.1; python_version >= '3.10'
django==6.1; python_version >= '3.12'
django-cors-headers==4.9.0; python_version >= '3.9'
djangorestframework==3.18.0; python_version >= '3.10'
sqlparse==0.6.0; python_version >= '3.10'
tzdata==2026.3; python_version >= '2'
